body{
	height: 100%;
	font-size:12px; 
	padding-bottom:20px
}
form, #header-img, #privacy-policy{
	width:100%;
	margin:auto
}
@media only screen and (min-width:601px){
	form, #header-img{
		width:500px
	}
}
@media only screen and (min-width:601px){
	#privacy-policy{
		width:800px
	}
}
#container{
	min-height:100%; 
	margin-bottom:-150px
}

.form_readonly{
	background-color:#f8f8f8;
  color:#2F4F4F;
  border:1px solid #cccccc
}
.form_readonly:hover{
  box-shadow: none
}

.field{
  border: 1px solid #cccccc;
  padding: 5px;
  margin-bottom:10px
}

@media only screen and(min-width:601px){
  label{
    padding: 5px
  }
}


select:hover, .shadow:hover{
  border:1px solid #cccccc;
  box-shadow: -1px 1px 1px #888888
}

/* Remove spinner from number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.footer_link{
	color:#666666
}
.footer_link:hover{
	color:#333333
}
/* User Form Message Box*/
#message{
	resize:none;
	height:150px;
	margin-bottom:10px; 
	width: 100%
}
#cancel, #privacy-policy-link{
	text-decoration: underline;
	color: #0000ff;
	cursor: pointer; 
	cursor: hand;
  border: none;
  background-color: Transparent;
  padding: 0
}
#cancel:hover, #privacy-policy-link:hover{
	color: #6666ff
}

/* TEST SITE WATERMARK */
#watermark {
	color: #d0d0d0;
	font-size: 200px;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	position: absolute;
	width: 100%;
	left: 25px;
	top: 50px;
	opacity: 0.2;
	text-align: center;
	pointer-events:none;
}

#privacy-policy-link{
  float: right;
  color: #0000ff
}

.btn_cancel{
  width: 80px;
  margin-bottom: 15px
}
