body{
	height: 100%;
	font-size:12px; 
	padding-bottom:20px
}
form, #header-img{
	width:100%;
	margin:auto
}
@media only screen and (min-width:601px){
	form, #header-img{
		width:500px
	}
}
#container{
	min-height:100%; 
	margin-bottom:-150px
}
.input_margin{
	margin-bottom:10px
}
.form_readonly{
	background-color:#FBF6D9;color:#736F6E
}
/* Remove spinner from number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.footer_link{
	color:#666666
}
.footer_link:hover{
	color:#333333
}
/* User Form Message Box*/
#message{
	resize:none;
	height:150px;
	margin-bottom:10px; 
	width: 100%
}
#cancel{
	text-decoration: underline;
	color: 0000ff;
	cursor: pointer; 
	cursor: hand;
  border: none;
  background-color: Transparent;
  padding: 0
}
#cancel:hover{
	text-shadow: 0.1px 0.1px #0000ff;
}

/* TEST SITE WATERMARK */
#watermark {
	color: #d0d0d0;
	font-size: 200px;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	position: absolute;
	width: 100%;
	left: 25px;
	top: 50px;
	opacity: 0.2;
	text-align: center;
	pointer-events:none;
}
