body{
	height: 100%;
	font-size:12px; 
	padding-bottom:20px
}

form, #header-img, #privacy-policy, #payment_status, #contact_success, #home-btn-wrapper, #page-not-found{
	width:100%;
	margin:auto
}
@media only screen and (min-width:601px){
	form, #header-img, #payment_status, #contact_success, #home-btn-wrapper, #page-not-found{
		width:500px
	}
}
@media only screen and (min-width:601px){
	#privacy-policy{
		width:800px
	}
}
#container{
	min-height:100%; 
	margin-bottom:-150px
}

.form_readonly{
	background-color:#f8f8f8;
  color:#2F4F4F;
  border:1px solid #cccccc
}
.form_readonly:hover{
  box-shadow: none
}

.field{
  border: 1px solid #cccccc;
  padding: 5px;
  margin-bottom:10px
}

@media only screen and(min-width:601px){
  label{
    padding: 5px
  }
}
#payment_status, #privacy-policy, #contact_success{
  border: 1px solid #cccccc;
  box-shadow: 0 0 8px #D0D0D0;
  padding: 10px
}


select:hover, .shadow:hover{
  border:1px solid #cccccc;
/*  box-shadow: -3px 3px 6px #888888*/
  box-shadow: 0 0 8px #D0D0D0
}

/* Remove spinner from number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.footer_link{
	color:#666666
}
.footer_link:hover{
	color:#333333
}
/* User Form Message Box*/
#message{
	resize:none;
	height:150px;
	margin-bottom:10px; 
	width: 100%
}
#cancel, #privacy-policy-link, #btn-register, #btn-cancel, #btn-logout, #btn-delete, #btn-delete-account{
	text-decoration: underline;
	color: #0000ff;
	cursor: pointer; 
	cursor: hand;
  border: none;
  background-color: Transparent;
  padding: 0
}
a{
  color: #0000ff;
}
a:hover, #cancel:hover, #privacy-policy-link:hover, #btn-register:hover, #btn-cancel:hover, #btn-logout:hover, #btn-delete:hover, #btn-delete-account:hover{
	color: #6666ff
}

/* TEST SITE WATERMARK */
#watermark {
	color: #d0d0d0;
	font-size: 200px;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	position: absolute;
	width: 100%;
	left: 25px;
	top: 50px;
	opacity: 0.2;
	text-align: center;
	pointer-events:none;
}

#privacy-policy-link{
  float: right;
  color: #0000ff
}

.btn_cancel{
  width: 80px;
  margin-bottom: 15px
}


/*===================================NAVIGATION=============================*/


#title_link:hover{color: #6666ff}


/*------Nav to the right on larger screens-------*/
.nav_float{float:right}
@media screen and (max-width:600px){
	.nav_float{float:none}
  /*#nav_container{background-color: #ffffff}*/
}


#css_hamburger {position: relative;padding-left: 1.5em;}/*Hamburger created using CSS*/
#css_hamburger:before {content: "";position: absolute;left: 0;top: 0.25em;width: 25px;height: 2px;background: black;box-shadow: 0 0.4em 0 0 black,0 0.8em 0 0 black;
}
#hamburger_link{height:46px}
#hamburger_link:hover #css_hamburger:before{  background: #ccc;box-shadow: 0 0.4em 0 0 #ccc,0 0.8em 0 0 #ccc;}		
#hamburger_link:hover{background-color:transparent}		
/*==============================END NAVIGATION==========================*/

td, th{
	border: 1px solid #bcc6cc;
	border-collapse: collapse;
	text-align: center;
  font-size: 12px;
  cursor: pointer
}
th{
  background-color: #eeeeee;
}
.not_selected{
  background-color: #eeeeee;
}

.selected {
    background-color: #aaaaaa;
    color: #000000;
}
.home_btn{
  margin: 1px;
  width:100%
}
.home_btn:hover{
  background-color: #cccccc
}